<div class="container"style="margin-top:5%;">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="form_card">
        <h3>Edit cocktail</h3>

        <%= simple_form_for @cocktail do |f| %>
          <%= f.input :name %>
          <%= f.input :photo %>
          <%= f.input :photo_cache, as: :hidden %>
          <%= f.button :submit, class: 'btn' %>
          <%= link_to "Back to cocktails", cocktails_path, class: " btn-default mx-4" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
